/* Google Fonts Poppins */
.title {
    text-align: center;
    text-shadow: -2px -5px 2px rgba(99, 99, 99, 0.18);
    font-size: 3rem;
}


.productStatus {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.productStatus-item {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px 10px;
    transition: all .3s ease-in;
}

.productStatus-item:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.product-card {
    position: relative;
    max-width: 355px;
    width: 100%;
    border-radius: 5px;
    padding: 20px 30px 30px 30px;
    background: var(--white-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 3;
    overflow: hidden;
}

.sale {
    width: 42px;
    height: 40px;
    position: absolute;
    top: -3px;
    left: -3px;
    overflow: hidden;
}

.date {
    float: right;
    font-size: 10px;
}

.product-card .logo-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .logo-cart img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.product-card .main-image {
    position: relative;
    height: 210px;
}

.product-card .main-image img {
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transform: rotate(18deg);
    top: -40px;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.product-card .shoe-details {
    margin-top: 2rem;
}

.product-card .shoe-details .shoe_name {
    font-size: 24px;
    font-weight: bolder;
    color: #161616;
    line-height: 2.5rem;
}

.product-card .shoe-details p {
    font-size: 12px;
    font-weight: 800;
    color: #5d5c5c;
    text-align: justify;
}

.product-card .color-price {
    display: flex;
    align-items: center;
}

.color-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.color-price .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-price .price .price_num {
    font-size: 25px;
    font-weight: 600;
    color: var(--black-color);
}

.color-price .price .price_letter {
    font-size: 10px;
    font-weight: 600;
    margin-top: -4px;
    color: var(--gray-color);
}

/* Button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: var(--primary-color);
    outline: 3px solid var(--primary-color);
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    transition: 400ms;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button svg path {
    transition: 400ms;
}

.button:hover {
    background-color: transparent;
}

.button:hover .text {
    color: var(--black-color);
}

.button:hover svg path {
    fill: var(--black-color);
}

/*Star */
.rating {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 75, 75);
}

/* Footer */
.footer{
    text-align: center;
    margin-top: 3rem ;
    font-weight: bolder;
    color:rgb(93, 92, 92);
}


/* Responsive */
@media screen and (max-width:768px) {
    .products-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}